{% assign image_url = block.settings.sp_banner_basic_image | img_url: '1920x' %}

<style>
  .sp-banner-basic-responsive-image {
    width: 100%; 
    height: auto; 
  }
</style>

<div class="sp-banner-basic-responsive-image">
  {% if block.settings.sp_banner_basic_image_click_url != blank %}
    <a href="{{ block.settings.sp_banner_basic_image_click_url }}" {% if block.settings.open_in_new_tab %}target="_blank"{% endif %}>
  {% endif %}
        <img src="{{ image_url }}" alt="{{ block.settings.sp_banner_basic_image_alt_text }}" width="0" height="0" style="{{ block.settings.sp_banner_basic_image_image_css }}">
   {% if block.settings.sp_banner_basic_image_click_url != blank %}
   </a>
  {% endif %}
</div> 

{% schema %}
{
  "name": "Sponspored Banners Basic",
  "target": "section",
  "settings": [
    { "type": "image_picker", "id": "sp_banner_basic_image", "label": "Upload Image" },
    { "type": "text", "id": "sp_banner_basic_image_alt_text", "label": "Alt Text", "default": ""},
    { "type": "text", "id": "sp_banner_basic_image_image_css", "label": "CSS for Image tag", "default": "width:100%; height:auto;"},

    { "type": "text", "id": "sp_banner_basic_image_click_url", "label": "Click URL", "default": "" },
    { "type": "checkbox", "id": "open_in_new_tab", "label": "Open URL in new tab", "default": false }

  ]
}
{% endschema %}